cmake-build-*/
build/
build_asan
*.o
*.exe

.idea/
.vscode/
*.swp
*.swo
*~

logs/

.DS_Store
Thumbs.db
/json.hpp
*.pem

/blaze-cypto/
/cli/blaze-linux-amd64
/cli/blaze-darwin-arm64
/cli/blaze-darwin-amd64
