cmake_minimum_required(VERSION 3.20)
project({{ .ProjectName }})

set(CMAKE_CXX_STANDARD 20)

if(NOT CMAKE_BUILD_TYPE)
    set(CMAKE_BUILD_TYPE "Release")
endif()
message(STATUS "Blaze: Building in ${CMAKE_BUILD_TYPE} Mode")

include(FetchContent)

# Use Global Blaze Cache (Instant Builds)
# Partitioned by generator and build type to prevent conflicts between CLI (Makefiles) and IDEs (Ninja)
string(REPLACE " " "_" BLAZE_SAFE_GENERATOR "${CMAKE_GENERATOR}")
set(FETCHCONTENT_BASE_DIR "$ENV{HOME}/.blaze/cache/${BLAZE_SAFE_GENERATOR}/${CMAKE_BUILD_TYPE}")

# Download Blaze Framework
FetchContent_Declare(
    blaze
    GIT_REPOSITORY https://github.com/Creed-Petitt/blaze.git
    GIT_TAG        main
)
FetchContent_MakeAvailable(blaze)

# Automatically find all source files (Magic Builds)
file(GLOB_RECURSE SOURCES "src/*.cpp")

# Create the Executable
add_executable({{ .ProjectName }} ${SOURCES})

# Map include directory
target_include_directories({{ .ProjectName }} PRIVATE include)

# Link Libraries
target_link_libraries({{ .ProjectName }} PRIVATE 
    blaze::core
    # [[BLAZE_DRIVERS_START]]
    # [[BLAZE_DRIVERS_END]]
)